@using PagedList;
@using PagedList.Mvc;
@model IPagedList<UniversityApp.Models.University>

@{
    ViewBag.Title = "Index";
}

<h2>Palestine Universities</h2>
<h4 style="float:right" class="btn btn-primary">Hello @Session["userName"]<span class="glyphicon glyphicon-user"> </span></h4>

<p>
    <a href="@Url.Action("Create","Universities")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Add New University
    </a>
</p>
<p>
    @using (Html.BeginForm())
    {
    <p>
        <b>Search</b>: @Html.TextBox("SearchString") 
        <input type="submit" value="Search" />
    </p>
}

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Established)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Logo)
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Established)
        </td>
        <td>
            <img src="@Url.Content(item.Logo)" width="50" height="50" />
        </td>
        <td>
            <a href="@Url.Action("Edit", "Universities", new { id = item.Id })">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@Url.Action("Delete", "Universities", new { id = item.Id })">
                <span class="glyphicon glyphicon-trash"></span>

            </a>
        </td>
    </tr>
        }

    </table>
@Html.PagedListPager(Model , Page => Url.Action("Index" , new {Page , SearchString = Request.QueryString["SearchString"]}))

